@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Carme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Carme&family=Nata+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";



@theme {
   --font-cinzel-text: "Cinzel Decorative", serif;
   --font-cormorant-text: "Cormorant Garamond", serif;
   --font-anton-text: "Anton", sans-serif;
   --font-carme-regular: "Carme", sans-serif;
   --font-nata-sans: "Nata Sans", sans-serif;
   --font-montserrat: "Montserrat", sans-serif;
   --font-inter: "Inter", sans-serif;
   --font-marcellus-sc-regular: "Marcellus SC", serif;
   --font-spectral-sc-regular: "Spectral SC", serif;
}
